<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" data-th-each="style:${storeAsset.styles}" data-th-href="${style}">
  <style>
    .mdl-layout {
      align-items: center;
      justify-content: center;
    }
  </style>
</head>

<body>
<div class="mdl-layout mdl-js-layout">
  <main class=" mdl-layout__content">
    <div class="mdl-card">
      <div class="mdl-card__title mdl-color--primary mdl-color-text--white">Create an account</div>

      <form method="post" action="#" data-th-object="${userForm}">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="username" data-th-field="*{username}"
                 autofocus="true"/>
          <label class="mdl-textfield__label" for="username">Username</label>
        </div>
        <p data-th-if="${#fields.hasErrors('username')}" data-th-errors="*{username}"></p>


        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input type="password" class="mdl-textfield__input" id="password" data-th-field="*{password}"/>
          <label class="mdl-textfield__label" for="password">Password</label>
            </div>
        <p data-th-if="${#fields.hasErrors('password')}" data-th-errors="*{password}"></p>


        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input type="password" class="mdl-textfield__input" id="passwordConfirm"
                 data-th-field="*{passwordConfirm}"/>
          <label class="mdl-textfield__label" for="passwordConfirm">Confirm your password</label>
        </div>
        <p data-th-if="${#fields.hasErrors('passwordConfirm')}" data-th-errors="*{passwordConfirm}"></p>

        <button class="mdl-button mdl-js-button mdl-button--primary" type="submit">Submit</button>
      </form>
    </div>
  </main>
</div>
<script data-th-each="script:${storeAsset.scripts}" data-th-src="${script}"></script>
</body>
</html>
